<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: solid;
            border-collapse: collapse;
            text-align: center;
            margin: auto;
        }

        a {
            color: black;
            text-decoration: none;
        }

        h1, h2 {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1> Team 1 Vs Team 2 </h1>
    <h2> Date (Ex: November 01, 2018) </h2>
    <table>
        <caption> Box Score </caption>
        <tr>
            <th> Team </th>
            <th> Q1 </th>
            <th> Q2 </th>
            <th> Q3 </th>
            <th> Q4 </th>
            <th> T </th>
        </tr>
        <tr>
            {% for teamstat in teamstats %}
            <td> {{ teamstat.team_id }} </td>
            <td> {{ teamstat.q1 }} </td>
            <td> {{ teamstat.q2 }} </td>
            <td> {{ teamstat.q3 }} </td>
            <td> {{ teamstat.q4 }} </td>
            <td> {{ teamstat.finalscore }} </td>
            {% endfor %}
        </tr>
        <!--
        <tr>
            <td> Team 2 </td>
            <td> Q1 </td>
            <td> Q2 </td>
            <td> Q3 </td>
            <td> Q4 </td>
            <td> Total </td>
        </tr>
        -->
    </table>

    <!-- Team 1 -->
    {% for team in teams %}
    <h2> {{ team.name }} </h2>
    <table>
        <tr>
            <th> Player </th>
            <th> Position </th>
            <th> Min </th>
            <th> PTS </th>
            <th> REB </th>
            <th> AST </th>
            <th> TO </th>
            <th> STL </th>
            <th> BLK </th>
            <th> PF </th>
        </tr>
        <!-- Will need forloop for api/database data -->
        <tr>
            {% for stat in stats %}
            <td> {{ stat.player_id }} </td>
            <th>
                {% if stat.player_id==players.id %}
                    {{ player.position }}
                {% endif %}
            </th>
            <th> {{ stat.minutesPlayed }} </th>
            <th> {{ stat.points }} </th>
            <th> {{ stat.rebounds }} </th>
            <th> {{ stat.assists }} </th>
            <th> {{ stat.turnovers }} </th>
            <th> {{ stat.steals }} </th>
            <th> {{ stat.blocks }} </th>
            <th> {{ stat.fouls }} </th>
            {% endfor %}
        </tr>
    </table>
{% endfor %}

    <!-- Team 2 -->
    <h2> Team 2 Name </h2>
    <table>
        <tr>
            <th> Player </th>
            <th> Position </th>
            <th> Min </th>
            <th> PTS </th>
            <th> REB </th>
            <th> AST </th>
            <th> TO </th>
            <th> STL </th>
            <th> BLK </th>
            <th> PF </th>
        </tr>
        <!-- Will need forloop for api/database data -->
        <tr>
            <td> Player Name </td>
            <th> Position </th>
            <th> Min </th>
            <th> PTS </th>
            <th> REB </th>
            <th> AST </th>
            <th> TO </th>
            <th> STL </th>
            <th> BLK </th>
            <th> PF </th>
        </tr>
    </table>

</body>

</html>