<div>
    <h1> Add Player to team </h1>
    <form action="#" method="post">
        <p> Playername: </p>
        <input type='text' size='30' name='firstName'>
        <input type='text' size='30' name='lastName'>
        <br>
        <p> Jersey Number: </p>
        <input type='text' size='30' name='jersey'>
        <p> Position: </p>
        <input type='radio' name='position' value='PG' checked> Point Guard <br>
        <input type='radio' name='position' value='SG'> Shooting Guard <br>
        <input type='radio' name='position' value='SF'> Small Forward <br>
        <input type='radio' name='position' value='PF'> Power Forward <br>
        <input type='radio' name='position' value='C'> Center <br>
        <br>
        <p> Height: </p>
        <input type='text' size='30' name='height'>
        <p> Weight: </p>
        <input type='text' size='30' name='weight'>
        <p> Age: </p>
        <input type='text' size='30' name='age'>
        <p> College: </p>
        <input type='text' size='30' name='college'>
        <p> Birthplace: </p>
        <input type='text' size='30' name='birthplace'>
        <p> Role: </p>
        <input type='radio' name='role' value='Starter' checked> Starter <br>
        <input type='radio' name='role' value='Bench'> Reserve <br>
        <br>
        <input type="submit" value="create">
        <a href="{{url_for('scores')}}"> Cancel </a>
    </form>
</div>



        