{% extends "main.html" %}

{% block title %} {{ team.name }} {% endblock %}

{% block content %}

<style>
    table,
    th,
    td {
        border: solid;
        border-collapse: collapse;
        text-align: center;
        margin: auto;
    }
</style>

<div>
    <h1> {{ team.city }} {{ team.name }} </h1>

    <table>
        <tr>
            <th> Date </th>
            <th> Final Score </th>
        </tr>
        {% for stat in stats %}
        <tr>
            <td> {{ game.date }} </td>
            <td> {{ stat.finalscore }} </td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th> Name </th>
        </tr>
        {% for player in players %}
        <tr>
            <td> {{ player.firstName }} {{ player.lastName }} </td>
        </tr>
        {% endfor %}
    </table>
    <h3> <a href="{{url_for('addPlayer', league_id=league.id, team_id=team.id)}}"> add player </a></h3>
</div>

{% endblock %}