<style>
    table,
    th,
    td {
        border: solid;
        border-collapse: collapse;
        text-align: center;
        margin: auto;
    }
</style>

<div>
    <h1> {{ team.city }} {{ team.name }} </h1>

    <table>
        <tr>
            <th> Name </th>
            <th> Position </th>
            <th> Number </th>
        </tr>
        {% for player in players %}
        <tr>
            <td> {{ player.firstName }} {{ player.lastName }} </td>
            <td> {{ player.position }} </td>
            <td> {{ player.jersey }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3> <a href="{{url_for('addPlayer', team_id=team.id)}}"> add player </a></h3>
</div>