{% extends "main.html" %}

{% block title %} Scores {% endblock %}

{% block content %}

<head>
    <style>
        table,
        th,
        td {
            border: solid;
            border-collapse: collapse;
            text-align: center;
            margin: auto;
        }

        a {
            color: black;
            text-decoration: none;
        }

        .scoreBox {
            text-align: center;
        }

        .boxScore {
            width: 5%;
            background-color: gray;
            text-align: center;
            margin: auto;
        }
    </style>
</head>

<body>
    This page will be the starting page where scores will be displayed for your desired team.

    <br><br>

    <div class="scoreBox">
        Team 1 Vs Team 2
        <table>
            <tr>
                <th> Team </th>
                <th> Q1 </th>
                <th> Q2 </th>
                <th> Q3 </th>
                <th> Q4 </th>
                <th> T </th>
            </tr>
            <tr>
                {% for teamstat in teamstats %}
                <td> {{ teamstat.team_id }} </td>
                <td> {{ teamstat.q1 }} </td>
                <td> {{ teamstat.q2 }} </td>
                <td> {{ teamstat.q3 }} </td>
                <td> {{ teamstat.q4 }} </td>
                <td> {{ teamstat.finalscore }} </td>
                {% endfor %}
            </tr>
        </table>
        {% for game in games %}
        <a href="{{url_for('boxScore', game_id=id)}}">
            <div class="boxScore">
                Box Score
            </div>
        </a>
        {% endfor %}
    </div>

</body>

{% endblock %}